protobuf
transformers
transformers_stream_generator
cpm_kernels
torch==2.0.1
gradio
mdtex2html
sentencepiece
accelerate
sse-starlette
streamlit>=1.24.0
tiktoken
einops
opencv-python==4.5.5.64
shapely
lxml
openpyxl
premailer
scipy
vllm==0.2.1
SwissArmyTransformer
torchvision==0.15.2
scikit-image
